<form method="GET" action="/search"> {{!-- GET method invokes the /search resource. This attributes are customisable when using a form --}}
    Search:
    <input type="text" name="search-term" size="50" placeholder="Please enter a search term:" id=""> {{!-- //type >>input:text --}}

    <div>
        <button type="submit">SEARCH</button> {{!-- type >>button[submit] where submit is the attribute --}}
    </div>
</form>

{{!-- h1{hello} --}}
{{!-- input:text[name='my-name'] --}}